[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
black = "*"

[packages]
django = "==2.2.13"
graphene = "==2.1.8"
graphene-django = "==2.5.0"
django-graphql-jwt = "==0.2.2"
django-cors-headers = "==3.1.0"
pillow = "==8.2.0"
graphene-file-upload = "==1.2.2"

[requires]
python_version = "3.7"
